body {
  margin: 0;
  padding: 0;
}

* {
  box-sizing: border-box;
}

.shotTotals h1, .shotTotals h2{
  text-align: center;
}

h1, h2, p {
  font-family: Lato;
}

h2 {
  color: rgba(0,0,0,0.5);
}

label {
  display: block;
  font-family: Lato;
  font-size: .75rem;
}

fieldset {
  margin: 20px;
  border-radius: 4px;
  padding: 10px 10px 20px 10px;
}

legend {font-family: Lato; }