body {
  margin: 0;
  padding: 0;
}

* {
  box-sizing: border-box;
}

.shotTotals h1, .shotTotals h2{
  text-align: center;
}

.myAccount h1 {
  text-align: center;
}

h1, h2, p {
  font-family: Lato;
}

h2 {
  color: rgba(0,0,0,0.5);
  margin: 5px 0;
}

h1 {
  margin: 20px 0 0 0;
}

label {
  display: block;
  font-family: Lato;
  font-size: .75rem;
}

fieldset {
  margin: 20px;
  border-radius: 4px;
  padding: 10px 10px 20px 10px;
}

legend {font-family: Lato; }

.selectInput select {
  width: 90%;
  margin: 5px 5%;
  height: 40px;
  font-size: 24px;
}

.selectInput label {
  width: 90%;
  margin: 5px 5%;
}

.formInput {
  width: 100%;
  padding: .5em 5%;
}
.formInput label {
  display:none;
}
.formInput input {
  display: block;
  border: 1px solid rgba(0,0,0,0.6);
  width: 100%;
  font-family: Lato;
  font-size: 24px;
  padding: 8px;
  border-radius: 4px;
  margin-bottom: 10px;
  text-align: center;
  color: #004b0a;
}
input::-webkit-input-placeholder {color: #004b0a; opacity: .3}
input:-moz-placeholder {color: #004b0a; opacity: .3}
input:focus::-webkit-input-placeholder { color:transparent; }
input:focus:-moz-placeholder { color:transparent; }


.landing h1 {
  margin: 20px 5%;
}

.landing p {
  margin: 5px 5%;
  font-size: 1.5em;
  line-height: 1.5em;
}

.landing p.homePage {
  text-align: center;
}

.landing p.homePage img {
  max-width: 800px;
}

.shotTotals p {
  margin: 5px 20px;
  font-size: 1.25em;
}

.shotTotals strong {
  color: #004b0a;
}